body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 1080px;
    height: 1350px;
    overflow: hidden;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* Área inferior colorida */
.faixa-inferior {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    padding: 60px;
    box-sizing: border-box;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
/* Texto explicativo na faixa */
.texto-baixo {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 400;
    text-align: justify;
    white-space: pre-line;
}

/* Logo posicionado à direita */
#logo {
    position: absolute;
    bottom: 0px;
    right: 60px;
    width: 160px;
    height: auto;
    align-self: flex-end;
    background: black;
    padding: 20px;
}